{% extends 'base.html' %}
{%block title%}Sobre Nós{% endblock %}

{% block content%}
    <article class="text-center">
        <h1 class="display-1">Sobre Nós</h1>
        <p>Bom, somos o 3º ano de informática que acabou passando por uma pandemia e ao voltar depois de dois anos, foi nos dada uma missão de desenvolver um Projeto Interdisciplinar. Vendo nossa
            propria dificuldade e a dificuldade de outros alunos em localizar-se dentro do campus sem experiência alguma, pensamos em uma forma de facilitar
            esse procedimento. Foram meses de um processo exaustivo e intenso mas conseguimos!<br>Bom, é isso, aproveitem!!!
        </p>
        <p>Atensiosamente</p>
        <p>Damarys Piserchio <i class="bi bi-instagram"></i> Damarys_piserchio </p>
        <p>Isaque Costa <i class="bi bi-instagram"></i> scisaque </p>
        <p>João Vitor Bonfim <i class="bi bi-instagram"></i> bonfim_jota </p>
        <p>Leticia dos Santos <i class="bi bi-instagram"></i> lsleticia </p>
    </article>
{%endblock%}